main {
  min-height: 80vh;
}

p {
  padding: 1rem 0;
  margin: 10px;
}
.rating span {
  margin: 0.1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #90a3c3;
  text-decoration: none;
}

button {
  margin: auto;
  width: 50%;
  padding: 10px;
}
